In [112]:
import pandas as pd
from sklearn.model_selection import train_test_split
# data normalization with sklearn
from sklearn.preprocessing import MinMaxScaler


data = pd.read_csv("train_modified.csv")
print("Big Mart Data")

Big Mart Data

In [113]:
data.apply(lambda x: sum(x.isnull()))

Item_Identifier              0
Item_Weight                  0
Item_Visibility              0
Item_MRP                     0
Outlet_Identifier            0
Item_Outlet_Sales            0
Item_Visibility_MeanRatio    0
Outlet_Years                 0
Item_Fat_Content_0           0
Item_Fat_Content_1           0
Item_Fat_Content_2           0
Outlet_Location_Type_0       0
Outlet_Location_Type_1       0
Outlet_Location_Type_2       0
Outlet_Size_0                0
Outlet_Size_1                0
Outlet_Size_2                0
Outlet_Type_0                0
Outlet_Type_1                0
Outlet_Type_2                0
Outlet_Type_3                0
Item_Type_Combined_0         0
Item_Type_Combined_1         0
Item_Type_Combined_2         0
Outlet_0                     0
Outlet_1                     0
Outlet_2                     0
Outlet_3                     0
Outlet_4                     0
Outlet_5                     0
Outlet_6                     0
Outlet_7                     0
Outlet_8                     0
Outlet_9                     0
dtype: int64

In [114]:
print(data.columns)
X = data.drop(["Item_Identifier", "Outlet_Identifier", "Item_Outlet_Sales"], axis=1)
y = data['Item_Outlet_Sales']

print(X.head())
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=27)

Index(['Item_Identifier', 'Item_Weight', 'Item_Visibility', 'Item_MRP',
       'Outlet_Identifier', 'Item_Outlet_Sales', 'Item_Visibility_MeanRatio',
       'Outlet_Years', 'Item_Fat_Content_0', 'Item_Fat_Content_1',
       'Item_Fat_Content_2', 'Outlet_Location_Type_0',
       'Outlet_Location_Type_1', 'Outlet_Location_Type_2', 'Outlet_Size_0',
       'Outlet_Size_1', 'Outlet_Size_2', 'Outlet_Type_0', 'Outlet_Type_1',
       'Outlet_Type_2', 'Outlet_Type_3', 'Item_Type_Combined_0',
       'Item_Type_Combined_1', 'Item_Type_Combined_2', 'Outlet_0', 'Outlet_1',
       'Outlet_2', 'Outlet_3', 'Outlet_4', 'Outlet_5', 'Outlet_6', 'Outlet_7',
       'Outlet_8', 'Outlet_9'],
      dtype='object')
   Item_Weight  Item_Visibility  Item_MRP  Item_Visibility_MeanRatio  \
0         9.30         0.016047  249.8092                   0.931078
1         5.92         0.019278   48.2692                   0.933420
2        17.50         0.016760  141.6180                   0.960069
3        19.20         0.017834  182.0950                   1.000000
4         8.93         0.009780   53.8614                   1.000000

   Outlet_Years  Item_Fat_Content_0  Item_Fat_Content_1  Item_Fat_Content_2  \
0            14                   1                   0                   0
1             4                   0                   0                   1
2            14                   1                   0                   0
3            15                   0                   0                   1
4            26                   0                   1                   0

   Outlet_Location_Type_0  Outlet_Location_Type_1  ...  Outlet_0  Outlet_1  \
0                       1                       0  ...         0         0
1                       0                       0  ...         0         0
2                       1                       0  ...         0         0
3                       0                       0  ...         1         0
4                       0                       0  ...         0         1

   Outlet_2  Outlet_3  Outlet_4  Outlet_5  Outlet_6  Outlet_7  Outlet_8  \
0         0         0         0         0         0         0         0
1         0         1         0         0         0         0         0
2         0         0         0         0         0         0         0
3         0         0         0         0         0         0         0
4         0         0         0         0         0         0         0

   Outlet_9
0         1
1         0
2         1
3         0
4         0

[5 rows x 31 columns]

In [124]:
# data normalization with sklearn
from sklearn.preprocessing import MinMaxScaler

# copy of datasets
X_train_norm = X_train.copy()
X_test_norm = X_test.copy()

# fit scaler on training data
norm = MinMaxScaler().fit(X_train_norm)

# transform training data
X_train_norm = norm.transform(X_train_norm)

# transform testing dataabs
X_test_norm = norm.transform(X_test_norm)

X_train_norm = pd.DataFrame(X_train_norm)
X_train_norm.describe()

,0,1,2,3,4,5,6,7,8,9,...,21,22,23,24,25,26,27,28,29,30
count,6818.000000,6818.000000,6818.000000,6818.000000,6818.000000,6818.000000,6818.000000,6818.000000,6818.000000,6818.000000,...,6818.000000,6818.000000,6818.000000,6818.000000,6818.000000,6818.000000,6818.000000,6818.000000,6818.000000,6818.000000
mean,0.495566,0.204023,0.463485,0.098061,0.464787,0.454385,0.189938,0.355676,0.278381,0.326049,...,0.064535,0.108536,0.106923,0.111616,0.061895,0.110883,0.108683,0.110443,0.107656,0.108830
std,0.277374,0.152892,0.263444,0.110488,0.349556,0.497951,0.392281,0.478753,0.448235,0.468800,...,0.245722,0.311079,0.309038,0.314917,0.240982,0.314010,0.311264,0.313464,0.309968,0.311448
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.255135,0.085298,0.263566,0.034780,0.208333,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.479012,0.165720,0.470673,0.069189,0.416667,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.740994,0.288934,0.650280,0.088675,0.916667,1.000000,0.000000,1.000000,1.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [119]:
# data standardization with  sklearn
from sklearn.preprocessing import StandardScaler

# copy of datasets
X_train_stand = X_train.copy()
X_test_stand = X_test.copy()

# numerical features
num_cols = ['Item_Weight','Item_Visibility','Item_MRP','Outlet_Years']

# apply standardization on numerical features
for i in num_cols:
    
    # fit on training data column
    scale = StandardScaler().fit(X_train_stand[[i]])
    
    # transform the training data column
    X_train_stand[i] = scale.transform(X_train_stand[[i]])
    
    # transform the testing data column
    X_test_stand[i] = scale.transform(X_test_stand[[i]])

In [120]:
# training a KNN model
from sklearn.neighbors import KNeighborsRegressor
# measuring RMSE score
from sklearn.metrics import mean_squared_error

# knn 
knn = KNeighborsRegressor(n_neighbors=7)

rmse = []

# raw, normalized and standardized training and testing data
trainX = [X_train, X_train_norm, X_train_stand]
testX = [X_test, X_test_norm, X_test_stand]

print(data.apply(lambda x: sum(x.isnull())))

# model fitting and measuring RMSE
for i in range(len(trainX)):
    
    # fit
    knn.fit(trainX[i],y_train)
    # predict
    pred = knn.predict(testX[i])
    # RMSE
    rmse.append(np.sqrt(mean_squared_error(y_test,pred)))

# visualizing the result
df_knn = pd.DataFrame({'RMSE':rmse},index=['Original','Normalized','Standardized'])
df_knn

Item_Identifier              0
Item_Weight                  0
Item_Visibility              0
Item_MRP                     0
Outlet_Identifier            0
Item_Outlet_Sales            0
Item_Visibility_MeanRatio    0
Outlet_Years                 0
Item_Fat_Content_0           0
Item_Fat_Content_1           0
Item_Fat_Content_2           0
Outlet_Location_Type_0       0
Outlet_Location_Type_1       0
Outlet_Location_Type_2       0
Outlet_Size_0                0
Outlet_Size_1                0
Outlet_Size_2                0
Outlet_Type_0                0
Outlet_Type_1                0
Outlet_Type_2                0
Outlet_Type_3                0
Item_Type_Combined_0         0
Item_Type_Combined_1         0
Item_Type_Combined_2         0
Outlet_0                     0
Outlet_1                     0
Outlet_2                     0
Outlet_3                     0
Outlet_4                     0
Outlet_5                     0
Outlet_6                     0
Outlet_7                     0
Outlet_8                     0
Outlet_9                     0
dtype: int64

                     RMSE
Original      1315.935555
Normalized    1158.158856
Standardized  1168.906377

In [121]:
# training an SVR model
from  sklearn.svm import SVR
# measuring RMSE score
from sklearn.metrics import mean_squared_error

# SVR
svr = SVR(kernel='rbf',C=5)

rmse = []

# raw, normalized and standardized training and testing data
trainX = [X_train, X_train_norm, X_train_stand]
testX = [X_test, X_test_norm, X_test_stand]

# model fitting and measuring RMSE
for i in range(len(trainX)):
    
    # fit
    svr.fit(trainX[i],y_train)
    # predict
    pred = svr.predict(testX[i])
    # RMSE
    rmse.append(np.sqrt(mean_squared_error(y_test,pred)))

# visualizing the result    
df_svr = pd.DataFrame({'RMSE':rmse},index=['Original','Normalized','Standardized'])
df_svr

                     RMSE
Original      1453.130596
Normalized    1557.060637
Standardized  1414.827307

In [122]:
# training a Decision Tree model
from sklearn.tree import DecisionTreeRegressor
# measuring RMSE score
from sklearn.metrics import mean_squared_error

# Decision tree
dt = DecisionTreeRegressor(max_depth=10,random_state=27)

rmse = []

# raw, normalized and standardized training and testing data
trainX = [X_train,X_train_norm,X_train_stand]
testX = [X_test,X_test_norm,X_test_stand]

# model fitting and measuring RMSE
for i in range(len(trainX)):
    
    # fit
    dt.fit(trainX[i],y_train)
    # predict
    pred = dt.predict(testX[i])
    # RMSE
    rmse.append(np.sqrt(mean_squared_error(y_test,pred)))

# visualizing the result    
df_dt = pd.DataFrame({'RMSE':rmse},index=['Original','Normalized','Standardized'])
df_dt

                     RMSE
Original      1240.985173
Normalized    1242.562760
Standardized  1240.985124